<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>


    {{{body}}}

    <script id="remote-client" src="./client.js"></script>
    <script id="remote-dashboard" src="./js/dashboard.js"></script>
  </body>
</html>
