.ant-layout {
	height: 100%;
	.logo {
	  width: 120px;
	  height: 31px;
	  background: #999;
	  margin: 16px auto;
	}

	.ant-layout-content {
		position: relative;
		.banner {
			position: absolute;
			bottom: 28px;
			width: calc(100% - 48px);
		}
	}
  }
  